.main-container {
    display: flex;
    /* flex-direction: column; */
    justify-content: flex;
    width: 100%;
}
.main-section {
    /* flex: 2; */
    margin-top: 203px;
}
.section {
    /* flex: .25; */
    /* margin: 20px; */
}

.product-shot {
    width: 350px;
    height: 500px;
}


.card-container {
    align-items: center;
    height: 600px;
    text-align: center;
    width: 400px;
}

.card {
    border: none;
}
.card-text {
    color: rgb(0, 45, 129);
    font-weight: bold;
    margin: 50px 0 10px 0;
}
.product-name {
    color: black;
    text-decoration: none;
}