/* Sidebar styles */
.sidebar {
    width: 250px;
    height: 100%;
    position: fixed;
    top: 80px;
    left: -250px;
    background-color: #333;
    color: white;
    transition: left 0.3s ease;
    z-index: 1000; /* Ensure the sidebar is above other content */
  }
  
  .sidebar.open {
    left: 0;
  }
  
  .sidebar-content {
    padding: 10px;
    margin-top: 60px; /* Adjust the top margin to go under the navbar */
    height: calc(100% - 60px); /* Calculate the height to fill the remaining space */
    overflow-y: auto; /* Add scrollbar when content overflows */
  }
  
  /* Toggle button styles */
  .sidebar-toggle {
    position: fixed;
    top: 80px;
    left: 20px;
    cursor: pointer;
  }
  
  .dropdown-menus > li,
  ul{
    list-style: none;
    cursor:pointer;
  }